@charset "UTF-8";
/*
 * name: 'style.scss';
 * author: 'NearSaint';
 * time: '2018.0111';
 */
@import "_variable";
@import "_mixin";

section.aboutus{
  text-align: center;
  padding-bottom: 60px; 
  >.container{
    h3{
      font-size: 32px;
      margin-bottom: 40px;
    }
    h5{
      font-size: 16px;
      line-height: 1.5em;
    }
    hr{
      margin: 60px auto;
    }
    a.addmap{
      margin:0 auto 40px;
      width: 760px;
      max-width: 100%;
      display: block;
      >img{
        width: 760px;
        max-width: 100%;
        height: auto;
      }
    }
    img.qrcode{
      width: 200px;
      height: auto;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    >.uk-sticky-placeholder{
      width: 120px;
    }
    .slideMenu{
      @include position(0,$right:20px);
      width: 120px;
      ul{
        @include radius(0 0 10px 10px);
        overflow:hidden;
        background-color: #f5f5f5;
        // @include box-shadow(0 0 3px #ccc);
        li{
          width: 100%;
          a{
            display: block;
            @include square(52px,100%);
            line-height: 52px;
            text-align: center;
            border-top: 1px solid #ddd;
            color: #fff;
            font-weight: 600px;
            background-color:  $color_mainblue;
            &:hover{
              background-color: $color_mainblue_deep;
            }
          }
          &.active > a{
            background-color: $color_mainblue_deep;
          }
        }
      }
    }
  }
  //end .container
}

@media (max-width: 992px)
{

}

@media (max-width: 768px)
{

}
