@charset "UTF-8";
/*
 * name: 'style.scss';
 * author: 'NearSaint';
 * time: '2018.0111';
 */
@import "_variable";
@import "_mixin";

section{
  display: block;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 60px 0 0;
  >div.title,
  >div.container>div.title{
    h3{
      font-size: 32px;
      margin-bottom: 10px;
      color: #fff
    }
    h4{
      font-size: 16px;
      margin-bottom: 40px;
      color: #ccc
    }
    hr{
      border: none;
      margin-bottom: 40px;
      @include square(6px,222px);
      @include radius;
      @include linear-gradient($color_mainblue,$color_mainorange);
    }
    &.black{
      h3{
        color: #333;
      }
      h4{
        color: #999;
      }
    }
    &.center{
      text-align: center;
      hr{
        margin:  0 auto 40px;
      }
    }
  }
}

@media (max-width: 992px)
{

}

@media (max-width: 768px)
{

}
